<div class="cont">
    <div class="nav">
        <div class="head">
                  <p>GET <span>THERE</span> CO.</p>
        </div>
        <div class="content">
           <p>Easy Ride Booking.No hassle.Book you ride now!!</p>
           
        </div>
        <div class="btn-group">
          <div class="btn-add">
              <a [routerLink]="['/addride']">Add Ride</a>
          </div>

          <div class="btn-book">
            <a [routerLink]="['/bookride']">Book Ride</a>
        </div>
        </div>
    </div>
</div>